@import "./abstracts/_reset.scss";
@import "./abstracts/_mixins.scss";
@import "./abstracts/_variables.scss";

@import "./Header.scss";
@import "./MenuResponsive.scss";
@import "./Clients.scss";
@import "./Contact.scss";
@import "./Footer.scss";
@import "./Portfolio.scss";
@import "./SliderMain.scss";
@import "./Ads.scss";
@import "./About.scss";
@import "./Table.scss";
@import "./Slider.scss";

body {
  background-color: #fff;
  font-size: 10px;
  color:white;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth !important;
  font-size: 10px;
}

.container {
  width: 97%;
  max-width: 1100px;
  margin: 0 auto;
  position:relative;
  @include mobile(){
    width: 95%;
  }
}

.button-primary {
  border-radius: 10px;
  font-size: 1.4rem;
  padding:5px;
  text-align: center;
  padding: 10px 20px;
  border:0;
  background-color: $color-background-red;
  color:white;
  transition-duration: 1s;
  display:block;
  &:hover {
  background: $color-background-red-hover;
  }
  &--bright {
    background-color: black;;
  }
  &--center {
    margin:0 auto;
  }
  &--right {
    margin-left: 100%;
    transform: translateX(-100%);
    margin-top: 20px;
    min-width: 150px;
  }
}