.slider {
  height: 100vh;
  width: 100%;
  background: url("./../img/bcg1.png") no-repeat left bottom;
  background-size: cover;
  position: relative;
  

  &__bottom {
    background: url("./../img/bcg1_bottom.svg") repeat-x;
    // background-size: 800px 100%;
    height: 20vh;
    position: absolute;
    bottom: 0;
    left: 0;
    // transform: translateY(100%);
    width: 100%;
  }
  .container {
    height: 100%;
  }
  &__content {
    position: absolute;
    max-width: 70%;
    top: 30%;
    left: 50%;
    font-size: 1.7rem;
    text-align:right;
    @include mobile(){
      width:97%;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      font-size: 1.5rem;
      line-height:1.9rem;
      max-width: 100%;
      text-align:center;
      .button-primary--right {
        margin:20px auto 0 auto;
        transform: translate(0);
      }
    }
    // transform: translateY(-50%);
  }
}
